:root{
    --primary-colour: #eff6ff;
    --highlight: #61cefd;
    --grey: #8a8888;
    --green: rgb(39, 137, 39);
    --red: rgb(223, 40, 40);
    --light-grey: #f2f2f2;
    --dark-blue: #292b3a;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-colour);
    margin: 30px;
}

header h1{
    text-align: center;
}

main{
    margin: auto;
    width: 900px;
}

#test-details form select{
    border-radius: 5px;
    padding: 3px 5px;
}

#test-progress{
    margin: 5px 0;
}

#progress-bar{
    display: inline-block;
    width: 70%;
    height: 10px;
    border-radius: 3px;
    background-position: right;
    background-size: 200%;
    background-image: linear-gradient(90deg, var(--highlight) 0%, var(--highlight) 50%, var(--grey) 50%, var(--grey) 100%);
}

#test-progress .progress_30s{
    background-position: left; 
    transition: background-position 30s;
}

#test-progress .progress_60s{
    background-position: left;
    transition: background-position 60s;
}

#test-progress .progress_120s{
    background-position: left;
    transition: background-position 120s;
}

#test-content{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#test-content #reference-text{
    padding: 2px 5px;
}

#test-content .correct_char{
    color: var(--green);
}

#test-content .incorrect_char{
    color: var(--red);
}

#test-content .current_char{
    text-decoration: underline;
}

#test-content textarea{
    height: 100px;
    width: 900px;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    font-size: inherit;
    font-family: inherit;
    padding: 2px 5px;
}

#test-content textarea:disabled{
    background-color: var(--light-grey);
}

#display-results{
    display: none;
    position: fixed;
    height: 350px;
    width: 600px;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -300px;
    border-radius: 5px;
    background-color: var(--dark-blue);
    flex-direction: column;
    justify-content: center;
}

#display-results div{
    margin: 10px auto;
    width: max-content;
}

#display-results div div{
    height: 100px; 
    width: 130px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--highlight);
    text-align: center;
    display: inline-block;
    margin: 5px 15px;
}

#display-results div div p{
    font-size: 18px;
    margin: 10px auto;
}

#display-results div div p:nth-of-type(2){
    font-size: 28px;
}

#display-results input{
    display: block;
    margin: 10px auto;
    font-size: 19px;
    padding: 10px;
    background-color: var(--light-grey);
    border-radius: 5px;
    border: 1px solid black;
}

#display-results input:hover{
    background-color: #e6e6e6;
    transform: translateY(-1px);
    box-shadow: 5px 5px 3px var(--grey);
}