:root{
    --primary-colour: #fff;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-colour);
    margin: 30px;
}

header h1{
    text-align: center;
}

main{
    margin: auto;
    width: 900px;
}

#test-details form select{
    border-radius: 5px;
    padding: 3px 5px;
}

#progress-bar{
    display: inline-block;
    width: 70%;
    height: 10px;
    border-radius: 3px;
    background-position: right;
    background-size: 200%;
    background-image: linear-gradient(90deg, #ee4 0%, #ee4 50%, #222 50%, #222 100%);
}

#test-progress .progress_30s{
    background-position: left; 
    transition: background-position 30s;
}

#test-progress .progress_60s{
    background-position: left;
    transition: background-position 60s;
}

#test-progress .progress_120s{
    background-position: left;
    transition: background-position 120s;
}

#test-content #reference-text{
    padding: 5px;
}

#test-content textarea{
    height: 100px;
    width: 900px;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
}